html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul, li {
	list-style: none;
}
a {
	text-decoration: none;
}
body,* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
button {
	cursor: pointer;
}
.header {
	height: 900px;
	background-image: url('../img/header-bg.png');
	background-repeat: no-repeat;
}

.container {
	max-width: 1920px;
	padding: 0 40px;
	margin: 0 auto;
}

.header__top {
	display: flex;
	justify-content: flex-end;
	border-bottom: 1px solid rgba(161,161,161,0.5);
	align-items: center;
	position: relative;
}
.header__top-list {
	display: flex;
	align-items: center;
	height: 100%;
}
.header__list-item {
	padding: 40px;
	display: block;
	height: 100%;
	position: relative;
	cursor: pointer;
}
.header__list-link {
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	display: block;
	height: 100%;
}

.header__list-item::before {
	content: '';
	display: block;
	position: absolute;
	width: 0%;
	height: 2px;
	background-color: #fff;
	bottom: 0;
	left: 0;
	transition: all .2s;
}
.header__list-item:hover::before {
	width: 100%;
	transition: all .2s;
	right: 0;
}

.header__middle {
	margin-top: 220px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header__middle-title {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 20px;s
}
.header__middle-info {
	width: 800px;
	font-weight: 800;
	font-size: 48px;
	line-height: 64px;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 50px;
}

.header__middle-btn {
	padding: 15px 35px;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	background: #4985FF;
	border: none;
	box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
	border-radius: 30px;
	outline: none;
	cursor: pointer;
}

.services {
	padding: 100px 0;
	text-align: center;
}

.services__header {
	text-align: center;
	margin-bottom: 70px;
}
.services__header-title {
	font-weight: bold;
	font-size: 36px;
	line-height: 53px;
	color: #323232;
	margin-bottom: 50px;
}
.services__header-text {
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
	color: #999999;
}

.services__items {
	display: flex;
	justify-content: space-between;
	position: relative;
	margin-bottom: 55px;
}


.services__item {
	display: flex;
	align-items: start;
	position: relative;
	height: 140px;
}

.services__item-img {
	padding: 10px;
	border: 1px solid #E0E0E0;
	border-radius: 50%;
	margin-right: 17px;
}
.services__item-imgcircle {
	padding: 25px;
	border: 1px solid #4985FF;
	border-radius: 50%;
}
.services__item-about {
	margin-top: auto;
	width: 220px;
	padding-top: 40px;
	text-align: left;
}

.services__item-title {
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	margin-bottom: 12px;
	
}
.services__item-text {
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	color: #999999;
}

.services__btn {
	padding: 15px 35px;
	background: #4985FF;
	box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
	border-radius: 30px;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
	text-align: center;
}

.about-us {
	padding-top: 100px;
	background: #F6F6F8;
}

.about-us__top {
	display: flex;
	justify-content: space-between;
	padding-bottom: 90px;
	border-bottom: 1px solid #E0E0E0; 
}

.about-us__info-title {
	font-weight: bold;
	font-size: 36px;
	line-height: 53px;
	color: #323232;
	margin-bottom: 40px;
}

.about-us__info-text {
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
	color: #999999;
	margin-bottom: 30px;
}
.about-us__info-more {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-decoration-line: underline;
	color: #4985FF;
}

.about-us__bottom {
	padding: 70px 0;
}

.about-us__projects {
	display: flex;
	justify-content: space-around;
}

.projects-item__num {
	font-weight: normal;
	font-size: 36px;
	line-height: 53px;
	color: #000000;
	margin-left: 20px;
}
.projects-item__text {
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
	color: #999999;
	margin-top: 17px;
}
.all-services {
	padding-top: 100px;
	padding-bottom: 85px;
	background: linear-gradient(rgba(95, 18, 208, 1) 50%,#fff 50%);
}
.all-services__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 70px;
}
.all-services__top-title {
	font-weight: bold;
	font-size: 36px;
	line-height: 53px;
	color: #FFFFFF;
}
.all-services__item-num {
	color: #4985FF;
}
.all-services__top-btn {
	width: 200px;
	padding: 10px 35px;
	background: #4985FF;
	box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
	border-radius: 30px;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	border: none;
	color: #FFFFFF;
}
.all-services__bottom {
	padding-bottom: 85px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #E0E0E0;
}
.all-services__item-img {
	margin-bottom: 30px;
}
.all-services__item-title {
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 30px;
}
.all-services__item-text {
	width: 350px;
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
	color: #999999;
	margin-bottom: 30px;
}
.all-services__item-more {	
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-decoration-line: underline;
	color: #4985FF;
}

.our-projects {
	padding: 100px 0;
	background-color: #F6F6F8;
	text-align: center;
}
.our-projects__title {
	font-weight: bold;
	font-size: 36px;
	line-height: 53px;
	text-align: center;
	color: #000000;
	margin-bottom: 50px;
}
.our-projects__text {
	width: 730px;
	margin: 0 auto;
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
	text-align: center;
	color: #999999;
	margin-bottom: 70px;
}
.our-projects__images {
	display: flex;
	justify-content: space-around;
	margin-bottom: 50px;
}
.our-projects__btn {
	display: inline-block;
}
.about-work {
	position: relative;
}
.about-work__img {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
}
.about-work__top-inner {
	padding-top: 70px;
	padding-bottom: 85px;
	border-bottom: 1px solid #E0E0E0;
	margin-bottom: 85px;
}
.about-work__title {
	font-weight: bold;
	font-size: 36px;
	line-height: 53px;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 30px;
}
.about-work__show {
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 70px;
}

.about-work__video {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('../img/video-img.png');
	background-repeat: no-repeat;
	background-size: contain;
	width: 970px;
	height: 430px;
	margin: 0 auto;
}

.about-work__video-btn {
	padding: 20px 40px;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 200px;
	display: flex;
	align-items: center;
} 
.play-button {
	padding: 20px;
	border-radius: 50%;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 20px;
}
.fa-play {
	color: #4985FF;
	font-size: 20px;
	margin-left: 5px;
}
.watch-video {	
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 25px;
	color: #FFFFFF;
}
.about-work__bottom-inner {
	text-align: center;
	padding-bottom: 85px;
}
.newslatter-title {
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #000000;
	margin-bottom: 20px;
}
.newslatter-text {
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
	color: #999999;
	text-align: center;
	margin-bottom: 30px;
}
.newslatter__form {
	display: inline-flex;
	margin-bottom: 30px;
}
.newslatter__form-input {
	background: #FFFFFF;
	border: 1px solid #F2F2F2;
	box-sizing: border-box;
	box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	padding: 15px 33px;
	outline: none;
}
.newslatter__form-input::placeholder {
	font-weight: normal;
	font-size: 13px;
	line-height: 21px;
	color: #999999;
}
.newslatter__form-btn {
	padding: 13px 35px;
	border-radius: 0px 30px 30px 0px;
	background: #4985FF;
	box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	border: none;
	outline: none;
}
.newslatter-sec {
	font-weight: normal;
	font-size: 13px;
	line-height: 21px;
	text-align: center;
	color: #999999;
}

.footer {
	padding-top: 70px;
	padding-bottom: 30px;
	background: #F6F6F8;
}
.footer__inner {
	display: flex;
	justify-content: space-between;
	padding-bottom: 70px;
	border-bottom: 1px solid #E0E0E0;
	margin-bottom: 30px;
}
.footer__list-title {
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	margin-bottom: 35px;
}
.footer__list-item {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}
.footer__list-link {
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	color: #999999;
}
.list__link img {
	margin-right: 15px;
}
.law {
	text-align: center;
	font-weight: normal;
	font-size: 13px;
	line-height: 21px;
	color: #999999;
}

.slide-arrow {
	display: none;
	transition: all .2s;
	transform: rotate(90deg);
}
.slide-arrow.active {
	transform: rotate(270deg);
	transition: all .2s;
}

